$brand-primary: #9356DC;
$brand-secondary: #FF79DA;
$brand-tertiary: #99E2D0;

* {
    // font-family: "Roboto", sans-serif;
    // font-family: "Shrikhand", serif;
    // color: $brand-primary;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .top-nav{
    display: flex;
    gap: 30px;

    .logo{
        width: 115px;
    }
  }
  .hero-container{
   
    .hero-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
  }

  .menu-container{
    border-radius: 15px 15px 0 0;
    background-color: #F5F5F5;
    padding: 10px;
    z-index: 10;
    position: relative;
    margin-top: -50px;

    .card{
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 20px;
    }
    .card-text{
        line-height: 5px;
    }
  }








  .footer{
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    text-decoration: none;

    li{
        margin-bottom: 15px;
    }

    li a{
        color: white;
    }
    .footer-logo{
        width: 100px;
        color: white;
        margin-bottom: 15px;
    }
} 